<!DOCTYPE html>
<html lang="en">
 <head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165286586-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165286586-1');
</script>

    <title> Portugal lá Fora - A-plataforma-dos-Emigrantes-Portugueses-na-Suiça</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="">
  <meta name="description" content=" Tudo o que os emigrantes Portugueses na Suiça necessitam. Empregos, Restaurantes, Noticias, Voos ... tudo isto e muito mais.">
  <meta name="keywords" content=" A-plataforma-dos-Portugueses-na-Suiça">

  

  <link href="resources/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="resources/css/style.css">
  <link rel="stylesheet" type="text/css" href="resources/css/empresas.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/FancyProductDesigner-all.min.css" />
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/52c7e2a22d575de980e288f3d/8edae5f2201112667c578ae9d.js");</script>
  <script type="text/javascript"></script>
  <script defer src="popup.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"><link href="//fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin-ext,cyrillic-ext,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic&subset=latin-ext,greek-ext,cyrillic-ext,greek,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
    <script data-ad-client="ca-pub-1839405568230983" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> <script data-ad-client="ca-pub-1839405568230983" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head>
     
     <body>
 <header>
     <div class="content" id="navbar" style="width: 100%;">
         <div id="logo">
           <a href="/" style="text-decoration: none;"> <img  src="/resources/images/Color logo - no background.png"> </a>
        </div>
     
        <div class="tutorial" id="dropmenu" style="position: relative;">
          <ul id="dropdown">
              
              <li><a >Empresas </i></a>
                  <ul>
                    <li><a href="/empresas">Empresas</a> </li>
                    <li><a href="/charge"> Adicionar empresas</a></li>
                    </ul>
                  </li>

                  <li><a >Empregos </i></a>
                    <ul>
                      <li><a href="/empregosall">Empregos</a> </li>
                      <li><a href="/addempregos"> Adicionar empregos</a></li>
                      </ul>
                    </li>

              <li><a >Artigos </i></a>
              <ul>
                      <li><a href="/artigos">Ver todos os artigos</a></li>
                     
                    </ul></li>
              <li><a >Viagens </i></a>
              <ul>
                      <li>Sobre as nossas viagens <li></li>
                    </ul></li>  
              <li><a >Mais </a>
                      <ul>
                              <li><a href="/sobrenos"> Sobre nós</a></li>
                                <li><a href="/contato">Contatos</a></li>
                              
                            </ul></li>         
                    <li id="atuaconta"><a ><i class="fas fa-user"></i>  A tua conta </a >
                      <ul>
                        <li><a href="/login">Entra</a> </li>
                        <li><a href="/signup">Registra-te</a> </li>
                        <li><a href="/profile">O teu perfil</a></li>
                        
                      </ul></li>   

          </ul>     
       </div>  
      
       
       <div onclick="myFunction7()" class="device" id="device">
        <a  id="burger" class="open-main-nav">
        <span class="burger"><i  class="fas fa-bars"></i></span></a>
         
        
		    
		    <nav class="main-nav" id="main-nav" >
          
        <ul >
          <a href=""><span onclick="myFunction10()" id="x">X</span></a>
        <li><a href="/index">Home </a></li>
        <li><a href="#" onclick="myFunction1()">Empresas <i class="fas fa-chevron-down fa-xs"></i></a>
            <ul  id="empresas" style="display:none;">
              <li><a href="/empresas">Empresas </a> </li>
              <li><a href="/charge"> Adicionar empresas </a></li>
              </ul>
            </li>

            <li><a  onclick="myFunction20()">Empregos <i class="fas fa-chevron-down fa-xs"></i> </i></a>
              <ul id="empresas20">
                <li><a href="/empregosall">Empregos</a> </li>
                <li><a href="/addempregos"> Adicionar empregos</a></li>
                </ul>
              </li>
        <li><a href="#" onclick="myFunction2()"> Transportes<i class="fas fa-chevron-down fa-xs"></i></a>
          <ul id="empresas2">
            <li><a href="#">Procurar Transportes</a> </li>
          
            
          </ul></li>
        <li><a href="#" onclick="myFunction3()" >Artigos<i class="fas fa-chevron-down fa-xs"></i></a>
        <ul id="empresas3">
                <li><a href="/artigos">Ver todos os artigos</a></li>
               
              </ul></li>
        <li><a href="#" onclick="myFunction4()" >Viagens <i class="fas fa-chevron-down fa-xs"></i></a>
        <ul id="empresas4">
                <li>Sobre as nossas viagens <li></li>
              </ul></li>  
        <li><a href="#" onclick="myFunction5()" >Mais <i class="fas fa-chevron-down fa-xs"></i></a>
                <ul id="empresas5">
                        <li><a href="/sobrenos"> Sobre nós</a></li>
                          <li><a href="/contato">Contatos</a></li>
                        
                      </ul></li>         
              <li><a href="#" onclick="myFunction8()" ><i class="fas fa-user"></i>  A tua conta  <i class="fas fa-chevron-down fa-xs"></i></a >
                <ul id="empresas6">
                  <li><a href="/login">Entra</a> </li>
                  <li><a href="/signup">Registra-te</a> </li>
                  <li><a href="/profile">O teu perfil</a></li>
                  
                </ul></li> 
                <ul id="empresas10" style="display: none;">
                  <li>Sobre as nossas viagens </li>
                </ul>  

            </ul>   
		     </nav>
		  </div>
        
            <script>
                function myFunction1() {
                   document.getElementById("empresas").style.display =  ((empresas.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction2() {
                   document.getElementById("empresas2").style.display =  ((empresas2.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction3() {
                   document.getElementById("empresas3").style.display =  ((empresas3.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction4() {
                   document.getElementById("empresas4").style.display =  ((empresas4.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction5() {
                   document.getElementById("empresas5").style.display =  ((empresas5.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction8() {
                   document.getElementById("empresas6").style.display =  ((empresas6.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction7() {
                   document.getElementById("main-nav").style.display =  ((empresas10.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction20() {
                   document.getElementById("empresas20").style.display =  ((empresas20.style.display!='block') ? 'block' : 'none');
                  }
                  function myFunction10() {
                    var x = document.getElementById("main-nav");
                  if (x.style.display === "block") {
                   x.style.display = "none";
                      } else {
                  x.style.display = "block";
                    }
                    }
                 


                  function myFunction9(x) {
  if (x.matches) { // If media query matches
    document.getElementById("burger44").style.display = "block";
  } else {
    document.getElementById("burger44").style.display = "none";
  }
}

var x = window.matchMedia("(max-width: 1000px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction9) 


              </script>

        <style>
          #dropdown  li ul li a {color: #edf1f2;transition: ease-in 2s;}
          #logo img{width: 17%;height:40px ; position: absolute; margin-top: -20px;margin-left: -105px;}
          #device ul a{
            text-decoration: none;
            color: white;
            
          }
          #main-nav ul li a{
            line-height: 50px;
            font-size: 25px;
            margin-left: 10px;
            
          }
         
         
          #device ul{
            float: left;
          list-style: none;
          width: 100%;
          margin-left:-310px ;
          position: fixed;
          background-color: rgb(87, 86, 86);
          height: 100%;
        }

          #device{
          display: none;
          margin: auto;
          justify-content: center;
         
          }
          .burger{
            margin: auto;
            justify-content: center;

          }
          .burger i{font-size:30px ;
          margin: auto;
          position: fixed;
          justify-content: center;
        margin-top: -10px;
      margin-left: -10%;}
      .burger i:hover{
        cursor: pointer;
      }


          #main-nav {
            display:none;
           position: relative;
            padding-top: 0px;
            background-color: rgb(102, 102, 102);
            height: 700px;
            
            margin-top: -10px;
            list-style: none;
            
          }
          #x{ color: white;
          font-size: 34px;}

           #main-nav ul li ul {
            display: none;
             margin-left: 20px;
             
            border: #9da1a1;
                 border-top-style: solid;
            border-width: thin;
              border-bottom-style:solid ;
            padding-bottom: -20px;
                margin-bottom: 10px;
            height: fit-content;

            }
            #main-nav ul li ul {
              margin-left: -40px;
 
             
             color: rgb(218, 216, 216);
 
            }
            .empresasBusca{display:none;}
             
             .empresasBusca{
                background-color:rgb(141, 137, 137); 
                 text-decoration: none;
                }

                .empresasBusca:hover{
               cursor: pointer;
                            background-color: rgb(128, 126, 126);
                    }
                    .sideBar2{display:none;}
                    #sidebarartigos2{display: none;}
                   footer{margin-top: -150px;}
                  





         /* Main menu positionning */
         @media all and  (max-width: 1300px) {#atuaconta{margin-left: 100px;}}
         @media all and  (max-width: 1200px) {#atuaconta{margin-left: 50px;}}
         @media all and  (max-width: 1000px) {
           #device{
           display: block;
           }
           #logo img{width: 18%;height:38px ; position: absolute; margin-top: -20px;margin-left: 5%;}
          
         
          }
          @media all and  (max-width: 950px) {
            .empresasBusca{display:contents;}
            #logo img{width: 36%;height:40px ; position: absolute; margin-top: -20px;margin-left: 5%;}
          
            
            .sidebarpublicidade2{display: block;}
            #sidebarartigos2{display: block;}
           
           
            .sidebarpublicidade{display: none;}
            #sidebarartigos{display: none;}
            .burger i{
             margin-left: 30px;
           }
           main{
             height:4600px ;
             
           }
           #logo{margin-left: 20px;}
           .footer{ height: 230px; 
  line-height: 15px;}      
  .footer li{
    padding-bottom: 20px;}
              
           
           #device{
           display: block;
           margin: auto;
           float: right;
           }
           #navbar{
             max-width: 950px;
           }
           #main-nav{overflow: hidden; }
           #contactos{
             display: none;
             
           }

           }
           @media all and  (max-width: 950px) {
            #device ul{margin-left: -210px;
           }
           .burger i{
             margin-left: 40px;
           }
           .comentariosIndex{
             display: block; width: 100%;
            height: fit-content;z-index: 99;}
           }
          
           @media  (max-width: 950px) {
         .empresasMain{
              display: block;
              margin: auto;
                        }
          
          .rightcards{display: block;}
        }
         @media  (max-width: 750px) {
          #logo img{width: 48%;height:50px ; position: absolute; margin-top: -20px;margin-left: 0;}
          .burger i{
             margin-left: 100px;
           }
           .inter .containerinter{display: block;}
           .inter .empresasWorkSearch1{width: 100%; margin-bottom: 10px;}
          
        }


          </style>
       
         <div id="contactos">
          
         </div>
     </div>
 </header>  
 
 <div class="container" id="container">
  <div class="caption" id="slider-caption">
    <div class="caption-heading">
      <h2>Lorem Ipsum</h2>
    </div>
    <div class="caption-subhead"><span> cxczvzxzad</span></div><a class="btn" href="#">Sit Amet</a>
  </div>
  <div class="left-col" id="left-col">
    <div id="left-slider"></div>
  </div>
  <ul class="nav">
    <li class="slide-up"> <a href="#"><</a></li>
    <li class="slide-down"> <a id="down_button" href="#">></a></li>
  </ul>


  

 
  </div>




<main>


    <div class="inter"  >
      <style> 
        .inter{width: 100%;margin-top: 10px;}
        .containerinter{display: inline-flex; flex-direction: row;flex-wrap: wrap; width: 100%; justify-content: space-around;}
        .empresasWorkSearch1{width: 250px; height: 180px; padding-top: 35px;}
        #atoempresas h3 {text-decoration: underline; text-underline-position: above;color: rgb(219, 219, 219);}
        .workSearchTitle i{color: rgb(219, 219, 219);}
        </style>
      <div class="containerinter"  >
         
        <a  id="atoempresas" href="/transportes">
          <div class="empresasWorkSearch1" id="atoempresas"    >
         
          <div class="workSearchTitle">
           
              
            <h3>Transportes </h3>
            
            <br>
            <h1><i class="fas fa-dolly"></i></h1>
         
          </div>
        </div> </a>
          

           
        <a  id="atoempresas" href="/empresas">
          <div class="empresasWorkSearch1" id="atoempresas" style="   margin-left: 0;  " >
          
          <div class="workSearchTitle">
            <h3>Empresas </h3>
            <br>
            <h1><i class="fas fa-briefcase"></i></h1>
         
          </div>
        </div> </a>

        <a  id="atoempresas" href="/empregosall">
          <div class="empresasWorkSearch1" id="atoempresas" style="    margin-left: 0;   " >
         
          <div class="workSearchTitle">
            <h3>Empregos </h3>
            <br>
            <h1><i class="fas fa-user-md"></i></h1>
          
          </div>
        </div></a>


        <a  id="atoempresas" href="/#"><div class="empresasWorkSearch1" id="atoempresas" style="    margin-left: 0;   " >
         
          <div class="workSearchTitle">
            <h3>Voos </h3>
            <br>
            <h1><i class="fas fa-plane-departure"></i></h1>
         
          </div>
        </div> </a>


        <a  id="atoempresas" href="/artigos">
          <div class="empresasWorkSearch1" id="atoempresas" style="    margin-left: 0;   " >
          
          <div class="workSearchTitle">
            <h3>Artigos </h3>
            <br>
            <h1><i class="fas fa-newspaper"></i></h1>
          
          </div>
        </div></a>

      
    </div></div>
    <br>

    <div class="empresasMain">

       

      <div class="sideBar" style="margin-top: px;">
        
       
     
        
        
          
        <div class="sidebarpublicidade" style="margin-bottom: 15px;">
          <img style="width: 98%;height: 240px;" src="/assets/img/Rebeka_Collier54@yahoo.com.jpeg"/>
          <h2 style="position: absolute; margin-top: -250px;width: 200px;color: white;margin-left: 50px;">Espaço para publicidade</h2>
        </div>
        
        <section id="sidebarartigos" class="cards-wrapper">
          <% if (sidenews.length > 0) {%>
            <% sidenews.forEach((sidenew, index) => { %>
          
         
           <div class="sidenewcard">
            <a href="./conteudo?id=<%= sidenew.id %>"> <div class="imgside">
               <img src="/uploads/blog_images/<%= sidenew.image %>" alt="">
             </div>
             <div class="date"><%= sidenew.created_at.toDateString() %></div>
             <p  ><%= sidenew.blog_title %></p>
             <div class="tag" style="font-weight: 600px;"><h4>Artigos</h4></div>

           </div></a>
          
            <style>
              .sidenewcard{
                position: relative;
              }
              .sidenewcard:hover{
                filter: brightness(150%);
                opacity: 0.9;
              }
              .imgside img{
                height: 250px;
                width: 97%;
                position: relative;
                filter: brightness(50%);
              }
              .date{
                position:absolute;
                top: 8px;
                 right: 16px;
                 color:white;
                 font-size: 12px;
              }
                                 
                 .sidenewcard p{
                   color:white;
                   position: absolute;
                   top: 35%;
                   left: 5%;
                  
                  font-size: 20px;
                 }
                 .tag{
                  color:white;
                   position: absolute;
                   bottom: 8px;
                       left: 16px;
                       background-color: grey;
                       padding:13px;
                       border-radius:5px;
                       font-weight: 600px;
                       font-family: 'Open Sans', sans-serif;
                       line-height: 0px;
                       padding-top: 0px;
                       padding-bottom: 1px;
                      
                       

                 }
            </style>
          <% }) %>

          <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
        </section>
      
        <% } else { %>
          <p class="text-center">Não encontramos noticias <a href="/empresas" >Aqui</a> para voltar atrás.</p>
      <% } %>
      </div>
      <style>
      .table-wrapper {
          margin-top: 50px;
      }
  
      .player-img {
          width: 40px;
          height: 40px;
      }
  
      .add-player-form {
          margin-top: 50px;
      }
  </style>
  

    <section class="cards">
        <div class="grid">
           
          


            
        
        
          
         
       


         <div class="rightcards" style="width: 100%;" >
          
             <div class="cards1flex"  >
            <% if (players.length > 0) {%>
          
              <% players.forEach((player, index) => { %>
        
                <style>
                 
                    @media  (max-width: 1240px) {
                      .cards1flex .card{margin-right: 0px;}
                      .cards1flex .title{padding-top: 0px;}
                      .sideBar{display: none;}}
                      @media  (max-width: 1090px) {
                      .cards1flex .card{margin-right: -120px;}}
                      @media  (max-width: 750px) {.rightcards .cards1flex{ display: block;margin-top: 25px;}
                       .rightcards .card{margin-bottom: 10px; width: 300px;}}
                </style>
        
        
              <article class="card"  style="position: static; background-color: rgb(111, 110, 112);" >
                  <div class="thumb"  ><img src="/assets/img/<%= player.image %>" ></div>
                  <div class="infos">
                    <h2 class="title" style="margin-top:25px;letter-spacing: 1.3px;"><%= player.nome_empresa %><span class="flag" ></span></h2>
                    <h3 class="date" style="margin-top: -3px;"><%= player.distrito_name %></h3>
                    <p class="txt">
                      <td><%= player.rua %></td><br>
                      <td><%= player.codpos %></td><br>
                      <td><%= player.telefone %></td><br>

                      <td><%= player.email %></td>
                    </p>
                    <h3 class="details"> <a href="/empresaProfile/<%= player.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Ver</a></h3>
                  </div>
                </article>
        
        
        
        
              
                <% }) %>
              
         
                <% } else { %>
                    <p class="text-center">Não encontramos empresas <a href="/empresas" >Aqui</a> para voltar atrás.</p>
                <% } %>
              
       
              </div>
         </div>
          
         <div class="span">

          <style>
            .span{grid-row: 2; grid-column: 1/4;margin-top: -120px;height: 40px;}
            #span{width: 93%;margin: auto; margin-left: 20px;
            background-color: rgb(61, 61, 61); line-height: 30px; height: 120px; padding: 10px;}
            #span h3{text-decoration: none;}
            #span i {font-size: 40px;}
            #span:hover{background-color: rgb(122, 121, 121);}

            @media  (max-width: 750px) {#span{margin-top: 785px;position: absolute; width: 300px;margin-left: 20px;}
           .span{width: 100%;}
            .spaincontain{width: 100%;}
            #span h3{line-height: 20px;}
           
                }
          </style>
           <div class="spaincontain">
            <a  id="atoempresas" href="/charge">
              <div class="empresasWorkSearch" id="span" >
             
              <div class="workSearchTitle">
               
                  
                <h3>Registra a tua empresa e aumenta significativamente os teus clientes </h3>
                
                <br>
                <h1><i class="fas fa-chart-line"></i></h1>
             
              </div>
            </div> </a>
              
    
           </div>
         </div>
        
        
         <style>@media  (max-width: 750px) {#mainnews{width: 100%;margin-left: 0px;margin-bottom: 20px;}}</style>
        
         <% if (artigos.length > 0) {%>
          <section class="news" id="mainnews" >
              <header class="main-post-wrapper">
                  <div class="progress-bar progress-bar--primary hide-on-desktop">
                    <div class="progress-bar__fill"></div>
                  </div>
                  <div class="slides">
                    <article class="main-post main-post--active">  <% artigos.forEach((artigo, index) => { %>
                      <div class="main-post__image">
                          <img src="../uploads/blog_images/<%= artigo.image %>" alt="New McLaren wind tunnel 'critical' to future performance, says Tech Director Key"/> 
                      </div><% }) %>
                      <div class="main-post__content">
                        <div class="main-post__tag-wrapper">
                          <span class="main-post__tag">News</span>
                        </div>
                      
                        <h1 class="main-post__title"> <% artigos.forEach((artigo, index) => { %><%= artigo.blog_title %> </h1>
                        <a class="main-post__link" href="./conteudo?id=<%= artigo.id %>"><% }) %>
                              <span class="main-post__link-text" style="margin-bottom:150px;">find out more</span>
                              <svg
                                class="main-post__link-icon main-post__link-icon--arrow"
                                width="37"
                                height="12"
                                viewBox="0 0 37 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                
                              >
                                <path
                                  d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                                  stroke="white"
                                />
                              </svg>
                            </a>
                      </div>
                    </article>
                    <article class="main-post main-post--not-active"><% outros.forEach((outro, index) => { %>
                      <div class="main-post__image">
                          <img src="../uploads/blog_images/<%= outro.image %>" alt="What To Watch For in the 2019 Hungarian Grand Prix" />
                      </div><% }) %>
                      <div class="main-post__content">
                        <div class="main-post__tag-wrapper">
                          <span class="main-post__tag">News</span>
                        </div><% outros.forEach((outro, index) => { %>
                        <h1 class="main-post__title"><%= outro.blog_title %></h1>
                        <a class="main-post__link" href="./conteudo?id=<%= outro.id %>"><% }) %>
                          <span class="main-post__link-text" style="margin-bottom:150px;">find out more</span>
                          <svg
                            class="main-post__link-icon main-post__link-icon--arrow"
                            width="37"
                            height="12"
                            viewBox="0 0 37 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            
                          >
                            <path
                              d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                              stroke="white"
                            />
                          </svg>
                        </a>
                      </div>
                    </article><% outros2.forEach((outro2, index) => { %>
                    <article class="main-post main-post--not-active">
                      <div class="main-post__image">
                          <img src="../uploads/blog_images/<%= outro2.image %>" alt="Hamilton wants harder championship fight from Leclerc and
                            Verstappen" />
                      </div>
                      <div class="main-post__content">
                        <div class="main-post__tag-wrapper">
                          <span class="main-post__tag">News</span>
                        </div>
                        <h1 class="main-post__title"><%= outro2.blog_title %>
                        </h1>
                        <a class="main-post__link" href="./conteudo?id=<%= outro2.id %>">
                          <span class="main-post__link-text" style="margin-bottom:150px;">find out more</span>
                          <svg
                            class="main-post__link-icon main-post__link-icon--arrow"
                            width="37"
                            height="12"
                            viewBox="0 0 37 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            
                          >
                            <path
                              d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                              stroke="white"
                            />
                          </svg>
                        </a>
                      </div>
                    </article><% }) %>
                  </div>
                </header>
                

                <style>
                .post__title{ overflow: hidden;
                    display: -webkit-box;
                       -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;

                }</style>
                <div class="posts-wrapper hide-on-mobile">
                 
                  <article class="post post--active">
                    <div class="progress-bar">
                      <div class="progress-bar__fill"></div>
                    </div>
                    <header class="post__header">
                      <span class="post__tag">News</span>
                      <p class="post__published"><% artigos.forEach((artigo, index) => { %>  <%= artigo.created_at.toDateString() %> <% }) %></p>
                    </header>
                    <h2 class="post__title"><% artigos.forEach((artigo, index) => { %>  <%= artigo.blog_desc %> <% }) %></h2>
                  </article><% outros.forEach((outro, index) => { %>
                  <article class="post">
                    <div class="progress-bar">
                      <div class="progress-bar__fill"></div>
                    </div>
                    <header class="post__header">
                      <span class="post__tag">News</span> 
                      <p class="post__published"><%= outro.created_at.toDateString() %></p>
                    </header>
                    <h2 class="post__title"><%= outro.blog_desc %></h2>
                  </article><% }) %>
          
                  <% outros2.forEach((outro2, index) => { %>
                  <article class="post">
                    <div class="progress-bar">
                      <div class="progress-bar__fill"></div>
                    </div>
                    <header class="post__header">
                      <span class="post__tag">News</span>
                      <p class="post__published"><%= outro2.created_at.toDateString() %></p>
                    </header>
                    <h2 class="post__title"><%= outro2.blog_desc %>
                    </h2>
                  </article>
                  <% }) %>
                </div>
              </section>    
              <% } else { %>
                  <p class="text-center">Não encontramos noticias <a href="/empresas" >Aqui</a> para voltar atrás.</p>
              <% } %>



            
              <style>
                .headbox{margin-left: 20px;}
                .nomeusercoment{color: #edf1f2;}
                 .comentariosIndex{width: 75%; margin-top: 1050px;position: absolute;
                   height: 690px; margin-left: 20px;}
                #plus{
                  color: white;
                  margin:auto;
                  text-align: center;
                  font-size: 22px;
                }
                .cards1flex{display: inline-flex;margin-left: 170px; margin-top: 180px;position: relative;}
                #plus:hover{cursor: pointer;background-color: dimgray;}
                @media all and  (max-width: 750px) {
                  .headbox{margin-left: 0px;}
                .datacoment{line-height: 20px;}
               .comentariosIndex{
                 margin: auto;
                 display: block; max-width: 97%;
              width: max-content;overflow: hidden;position: relative;}
              .grid{ display: block;}
              #imgcoment{
                width: 200px;height: 200px;
                margin-left: 15%;
              }
               }
             
    
              </style>
              <script>function resize() {
                //get element
            
                var height = document.getElementById('add1').style.height;
            
                //transform element from string to integer
            
                height = height.replace("px", "");
                height =+height;
            
                //change height
                var n = height;
                height = n + 800 + 'px';
                document.getElementById('add1').style.height = height
            }</script>

<section id="sidebarartigos2" class="cards-wrapper">
  <% if (sidenews.length > 0) {%>
    <% sidenews.forEach((sidenew, index) => { %>
   <div class="sidenewcard">
    <a href="./conteudo?id=<%= sidenew.id %>"> <div class="imgside">
       <img src="/uploads/blog_images/<%= sidenew.image %>" alt="">
     </div>
     <div class="date" style="margin-right:300px;"><%= sidenew.created_at.toDateString() %></div>
     <p style="margin-left: 10px; width: 200px;" ><%= sidenew.blog_title %></p>
     <div class="tag" style="font-weight: 600px;margin-bottom: -220px;"><h4>Artigos</h4></div>

   </div></a>
  
  <% }) %>
  <style>
    .sidenewcard{
      position: relative;
    }
    .sidenewcard:hover{
      filter: brightness(150%);
      opacity: 0.9;
    }
    .imgside img{
      height: 250px;
      width: 97%;
      position: relative;
      filter: brightness(50%);
    }
    .date{
      position:absolute;
      top: 8px;
       right: 16px;
       color:white;
       font-size: 12px;
    }
                       
    .sidebarartigos2 p{
         color:white;
         position: absolute;
         top: 35%;
         left: 5%;
        
        font-size: 20px;
       }
       .tag{
        color:white;
         position: absolute;
         bottom: 8px;
             left: 16px;
             background-color: grey;
             padding:13px;
             border-radius:5px;
             font-weight: 600px;
             font-family: 'Open Sans', sans-serif;
             line-height: 0px;
             padding-top: 0px;
             padding-bottom: 1px;
            
             

       }
  </style>  <% } %>

  </section>
             
         
        </div>
        </section>
         
                
        
      </div>

     


        
          
        </div>

      </div>


    </div></section>
<br>

  
</main>

<footer >
  <section class="footer">
      <ul>
        <li><a href="/contato">Contatos</a></li>
        <li><a href="/sobrenos">Sobre nós</a></li>
        
        <li><a href="/politicaspriv">Politicas de privacidade</a></li>
        <a class="fac" href="facebook.com/portugal.lafora.9"><i class="fa fa-facebook fa-lg"></i></a>
        <style> .fac{margin-right: 20px;}</style>
        <a class="ins" href="#"><i class="fa fa-instagram fa-lg"></i></a>
    
      </ul>
      <div id="logo2" style="width: 50%; ">
        <a href="/" style="text-decoration: none;"> <img  src="/resources/images/Color logo - no background.png"> </a>
     </div>
        
        
      
  </section>
 
</footer>
<nav class="design">
  <span>© 2020 DS, All Rights Reserved</span>
</nav>

<script>let burger = document.getElementById('burger'),
  nav    = document.getElementById('main-nav'),
  slowmo = document.getElementById('slowmo');

burger.addEventListener('click', function(e){
 this.classList.toggle('is-open');
 nav.classList.toggle('is-open');
});

slowmo.addEventListener('click', function(e){
 this.classList.toggle('is-slowmo');
});

/* Onload demo - dirty timeout */
let clickEvent = new Event('click');

window.addEventListener('load', function(e) {
 slowmo.dispatchEvent(clickEvent);
 burger.dispatchEvent(clickEvent);
 
 setTimeout(function(){
   burger.dispatchEvent(clickEvent);
   
   setTimeout(function(){
     slowmo.dispatchEvent(clickEvent);
   }, 3500);
 }, 5500);
});</script>
<script>let slide_data = [
  {
    'src':'/blog/resources/images/porto2.jpg',
    'title':'',
    'copy':'sdcvbdvb'
  },
  {
    'src':'/blog/resources/images/algarve1.jpg', 
    'title':'A Plataforma dos emigrantes',
    'copy':'fagfdbb    .'
  },
  {
    'src':'/blog/resources/images/acores1.jpg', 
    'title':'Portugueses na Suiça',
    'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
  },
  {
    'src':'/blog/resources/images/gerês1.jpg', 
    'title':'Enconta o que procuras aqui',
    'copy':'DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT.'
  },
  
  ];
  let slides = [],
  captions = [];
  
  let autoplay = setInterval(function(){
  nextSlide();
  },5000);
  let container = document.getElementById('container');
  let leftSlider = document.getElementById('left-col');
  // console.log(leftSlider);
  let down_button = document.getElementById('down_button');
  // let caption = document.getElementById('slider-caption');
  // let caption_heading = caption.querySelector('caption-heading');
  
  down_button.addEventListener('click',function(e){
  e.preventDefault();
  clearInterval(autoplay);
  nextSlide();
  autoplay;
  });
  
  for (let i = 0; i< slide_data.length; i++){
  let slide = document.createElement('div'),
      caption = document.createElement('div'),
      slide_title = document.createElement('div');
    
  slide.classList.add('slide');
  slide.setAttribute('style','background:url('+slide_data[i].src+')');
  caption.classList.add('caption');
  slide_title.classList.add('caption-heading');
  slide_title.innerHTML = '<h1>'+slide_data[i].title+'</h1>';
  
  switch(i){
    case 0:
        slide.classList.add('current');
        caption.classList.add('current-caption');
        break;
    case 1:
        slide.classList.add('next');
        caption.classList.add('next-caption');
        break;
    case slide_data.length -1:
      slide.classList.add('previous');
      caption.classList.add('previous-caption');
      break;
    default:
       break;       
  }
  caption.appendChild(slide_title);
  caption.insertAdjacentHTML('beforeend','<div class="caption-subhead"><span></span></div>');
  slides.push(slide);
  captions.push(caption);
  leftSlider.appendChild(slide);
  container.appendChild(caption);
  }
  // console.log(slides);
  
  function nextSlide(){
  // caption.classList.add('offscreen');
  
  slides[0].classList.remove('current');
  slides[0].classList.add('previous','change');
  slides[1].classList.remove('next');
  slides[1].classList.add('current');
  slides[2].classList.add('next');
  let last = slides.length -1;
  slides[last].classList.remove('previous');
  
  captions[0].classList.remove('current-caption');
  captions[0].classList.add('previous-caption','change');
  captions[1].classList.remove('next-caption');
  captions[1].classList.add('current-caption');
  captions[2].classList.add('next-caption');
  let last_caption = captions.length -1;
  
  // console.log(last);
  captions[last].classList.remove('previous-caption');
  
  let placeholder = slides.shift();
  let captions_placeholder = captions.shift();
  slides.push(placeholder); 
  captions.push(captions_placeholder);
  }
  
  let heading = document.querySelector('.caption-heading');
  
  
  // https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/
  function whichTransitionEvent(){
  var t,
      el = document.createElement("fakeelement");
  
  var transitions = {
    "transition"      : "transitionend",
    "OTransition"     : "oTransitionEnd",
    "MozTransition"   : "transitionend",
    "WebkitTransition": "webkitTransitionEnd"
  }
  
  for (t in transitions){
    if (el.style[t] !== undefined){
      return transitions[t];
    }
  }
  }
  
  var transitionEvent = whichTransitionEvent()
  caption.addEventListener(transitionEvent, customFunction);
  
  function customFunction(event) {
  caption.removeEventListener(transitionEvent, customFunction);
  console.log('animation ended');
  
  // Do something when the transition ends
  }
  
</script>
<script src="/resources/js/transportsearch.js"></script>
<script src="/resources/js/jquery-ui.min.js"></script>
<script src="/resources/js/news.js"></script>
<script src="/resources/js/index_pagination.js"></script>


<script src="/resources/js/slidepublicidade.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.1/tinymce.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.1/jquery.tinymce.min.js"></script>

<script type="text/javascript" src="https://s.skimresources.com/js/158385X1624969.skimlinks.js"></script>
</body>
</html>
