<%- include('./../header') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Blogs List</h1>
			
			<% if(locals.message.success){ %>
			<div class="alert alert-success" role="alert">
				<%=message.success%>
			</div>
			<% } %>
		   <table id="product_table" class="display" style="width:100%">
        <thead>
			
            <tr>
				<th>Sr. No.<th>
				<th>Title</th>
                <th>Category</th>
				<th>Main Image</th>
                <th>Action</th>
            </tr>
			
        </thead>
        <tbody>
             <%  for (let index in result){ %>
            <tr>
                <th><%= parseInt(index)+parseInt(1) %><th>
                <th><%= result[index].blog_title %></th>
				<th><%= result[index].category_name %></th>
				<th><a target="_blank" href="./../uploads/blog_images/<%= result[index].image %>"><%= result[index].image %></a></th>
                <th><a href="./blog_delete?id=<%= result[index].id %>&image=<%= result[index].image %>"><i class="fa fa-trash"></i></a> | <a href="./blog_edit?id=<%= result[index].id %>"><i class="fas fa-edit"></a></i></th>
            </tr>
			<% } %>
        </tbody>
    </table>	
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
	  
<%- include('./../footer') %>